@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family="Inter":wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: '"Baloo Da 2"', sans-serif;
    font-family: '"Inter"', sans-serif;
    font-family: '"Plus Jakarta Sans"', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 27px 27px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
}

.navbar__title {
    color: var(--black, #222950);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.714%;
    width: 100%;
    letter-spacing: 0.48px;
    margin: 0;
}

.pending-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(46, 49, 133, 0.08);
    background: #FFF;
    padding: 15px;
    margin-bottom: 18px;
}

.profile-name {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-name p {
    color: var(--black, #222950);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Baloo Da 2";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.product__card-wrapper {
    border-radius: 10px;
    border: 1px solid rgba(46, 49, 133, 0.08);
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.05);
    margin-bottom: 20px;
}

.product__nam {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 15px 0 13px 15px;
}

.product__photo {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #F5F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__nam {
    border-radius: 8px 8px 0 0;
    background: #F8FAFC;
}

.product__name {
    color: var(--black, #222950);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Baloo Da 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.5px;

}

.pro__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(46, 49, 133, 0.08);
    border-radius: 8px 8px 0 0;
}


.qty__wrap-1 {
    border-right: 1px solid rgba(46, 49, 133, 0.08);
    padding: 15px 15px 15px 15px;
    width: 110%;
}

.qty__wrap {
    border-right: 1px solid rgba(46, 49, 133, 0.08);
    padding: 15px 20px 15px 22px;
    width: 100%;
}

.qty__wrap:last-of-type {
    border: none;
}

.count__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.count {
    color: var(--black-2, #595F84);
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.count span {
    padding: 0px 3px;
    border-radius: 2px;
    border: 0.2px solid rgba(138, 148, 166, 0.29);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 72, 151, 0.05);
    color: var(--black-2, #595F84);
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3px;
}

.count__1 {
    color: var(--black-2, #595F84);
    font-feature-settings: 'clig' off, 'liga' off;
    text-align: center;
    font-family: 'Baloo Da 2';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}

.count__2 {
    color: var(--blue, #007AFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Baloo Da 2;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.5px;
}

.qty__name {
    color: var(--black-2, #595F84);
    text-align: center;
    font-family: 'Baloo Da 2';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
    margin-bottom: 8px;
}